<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAA95ogAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAREREAAAAAARERERAAAAAREREREQAAABEQAAERAAAAERAAAREAAAAREAABEQAAABEQERERAAAAERAREREAAAAREAAAAAAAABEQAAAAAAAAERAAAAAAAAAREAABEQAAABEQAAERAAAAEREREREAAAABEREREQAAAAAREREQAADwPwAA4B8AAMAPAADHjwAAx48AAMePAADEDwAAxA8AAMf/AADH/wAAx/8AAMePAADHjwAAwA8AAOAPAADwHwAA" rel="icon" type="image/x-icon" />

<!-- end custom head snippets -->
